.checkbox-inline:hover{
  color:#fff;
}
.img-close{
  position:absolute;
  z-index:100;
  cursor:pointer;
  font-size: 20px;
  font-weight: bold;
  display: none;
  line-height: 0px;
  background: #fff;
  padding: 15px 5px;
}
.img-close:hover{
  background: #fff !important;
}
p:not(.section-icon,.navbar-text){
  cursor: move;
}
