{% extends "home.html" %}
{% load staticfiles %}
{% block content %}
  <p class="lead">Want a new feature?</p>
  <div id="addon">
    <form action="{{site_url}}addon" method="POST">
      {{ addon_form.as_p }}
      <button type="submit" class="btn btn-primary">Request</button>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  <!-- jQuery Functions -->
  <script type="text/javascript">
    $(document).ready(function(){
      $("#loading").hide();
    });
  </script>
  <!-- End jQuery Functions -->
  <!-- JavaScript Functions -->
  <script type="text/javascript">
  </script>
  <!-- End JavaScript Functions -->
{% endblock scripts %}