{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static  "css/wiki_style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static  "css/wiki_style1.css" %}" />
    <style type = "text/css">
    html,body,.container{
      background-color:white;
      margin:10px;
    }
    .editsection,.mw-editsection,.metadata,.navbox,.catlinks,.printfooter{
      display:none;
    }
    </style>
  </head>
  <body>
    <div id="contents_pane" class="container">
      {{text|safe}}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    var name = new Array;
    var section_list = new Array;
      $("video").parents(".thumb").hide();
      $("#contents_pane").ready(function(){
        data = window.location.href.split('?')[1].replace(/&amp;/g,'&');
        list = data.split('&');
        for(var i=0; i<list.length; i++){
	  if(list[i]==="img=on"){
	    $(".thumb").hide();
	    $("img").hide();
	  }else if(list[i]==="ct=on"){
	    $(".reference").hide();
	  }else if(list[i]==="toc=on"){
	    $("#toc").hide();
	  }else if(list[i]==="rl=on"){
	    $(".rellink").hide();
          }else if(list[i]==="tb=on"){
            $("table").hide();
	  }else if(list[i]==="hl=on"){
	    $("a").each(function(){
	      $(this).replaceWith($(this).html());
	    });
	  }else if(list[i][0]=='s'){
	    var index = list[i].split('=')[0];
	    section_list.push(index);
	  }
	}
	$(".sections").each(function(index){
	  var a = $(this).children("h2").children("span").text().split('[')[0];
	  name.push(a);
	  $(this).attr('id',"s" + index);
	  if(section_list.indexOf($(this).attr('id')) != -1)
	    $(this).hide();
	});
	name[0] = "Introduction";
	top.updateSectionList(name);
      });
    });
    </script>
  </body>
</html>
