{% extends "home.html" %}
{% block content %}
  <p class="lead">Paste a Wiki URL and take back a complete ad free PDF with contents extracted from the URL.</p>
  <div id="loading">
    <img src="{% static "img/loading.gif" %}" />
  </div>
  <br/>
  <div id="outbox">
    {{response|safe}}
  </div>
{% endblock %}
{% block scripts %}
  <!-- jQuery Functions -->
  <script type="text/javascript">
    $(document).ready(function(){
      $("#loading").hide();
    });
  </script>
  <!-- End jQuery Functions -->
  <!-- JavaScript Functions -->
  <script type="text/javascript">
  </script>
  <!-- End JavaScript Functions -->
{% endblock scripts %}